.container {

}

body, html {
	height: 100%;
}

body {
	background-image: url("back.jpg");
	background-size: cover;
}

.row {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 200px;
}

.name, 
.submit {
	//height: 200px;
}

h1 {
	color: #555;
	//position: relative;
	//top: 200px;
}

.btn-secondary {
	//position: relative;
	//top: 200px;
}